Package: linkat-servidor
Version: 18.04-96
Architecture: all
Maintainer: Pablo Vigo <pvigo@xtec.cat>
Installed-Size: 2964
Depends: linkat-lnadmin, linkat-anuser, linkat-ansible, linkat-mp-servidor
Section: linkat
Priority: optional
Homepage: http://linkat.xtec.cat
Description: Linkat servidor de centre
 Linkat servidor de centre proporciona un configurador dels serveis necessaris als centres educatius. Autenticació d'usuaris LDAP, compartició de fitxers en xarxa SAMBA i NFS, Nextcloud, Onlyoffice i molt més.
