[Unit]
Description=dnsmasq-fog Service
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
#Restart=always
ExecStartPre=-/usr/bin/docker stop dnsmasq-fog
ExecStartPre=-/usr/bin/docker rm dnsmasq-fog
ExecStartPre=/usr/bin/docker pull linkat/dnsmasq-fog:1.0.0
ExecStart=/usr/bin/docker run -d --restart=always --network="host" --cap-add=NET_ADMIN -e TFTP_SERVER_IP=__IP__ --name dnsmasq-fog linkat/dnsmasq-fog:1.0.0
 
[Install]
WantedBy=multi-user.target
